.DS_Store
.luarc.json
.mypy_cache
*.pyc
__pycache__
zig-cache
zig-out


# Relics from installs
resources/
yay-bin/
lightdm-neon/

# Various tool generated artefacts
gigacli/nushell/history.txt
gigabox/obmenu-generator/icons/
gigabox/obmenu-generator/cache.db
mpd.db
mpd.state
previews/
error.log
lyrics/

# Application files or directories to be kept local
gigabox/gtk-3.0/bookmarks
