[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "scripts/gigacli/reststop"]
	path = scripts/gigacli/reststop
	url = https://github.com/dupe-codes/reststop
