.DS_Store
.luarc.json
.mypy_cache

# Relics from installs
resources/
yay-bin/
lightdm-neon/

# Various tool generated artefacts
gigacli/nushell/history.txt
gigabox/obmenu-generator/icons/
gigabox/obmenu-generator/cache.db
mpd.db
mpd.state
error.log
lyrics/
