[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "gigacli/nushell/nu_scripts"]
	path = gigacli/nushell/nu_scripts
	url = git@github.com:nushell/nu_scripts.git
